.skills {
    display: flex;
    flex-direction: column;
}

.skills .techSkills ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: .5rem;
    padding: .5rem;
    list-style: none;
}

.skills .techSkills ul li {
    margin: .5rem .5rem;
}

.skills .techSkills ul li img {
    max-width: 30px;
    max-height: 30px;
    margin: .2rem .2rem;
    vertical-align: middle;
}

.skills .personal ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.skills .personal ul li {
    margin-left: 2rem;
    padding: .5rem
}

@media only screen and (min-width: 768px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}